h1, h2, h3, h4, h5, h6, p, a, li, span {
  font-family: 'Raleway', sans-serif;
}

.resume {
  background-color: #1f1f1f;
  min-height: 100vh;
}
.resume .main {
  height: 100%;
  width: 700px;
  background-color: #fff;
  padding: 0 25px;
  margin: 0 auto;
}
.resume .main .header {
  border-bottom: 2px solid #ddd;
}
.resume .main .header .page-title-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
.resume .main .header .page-title {
  font-size: 48pt;
  display: inline;
}
.resume .main .header .page-title-first {
  font-weight: 400;
}
.resume .main .header .page-title-last {
  font-weight: 200;
}
.resume .main .header .header-icons {
  text-align: center;
}
.resume .main .header .header-icons .page-subhead {
  margin: 1rem 15px;
  display: inline;
}
.resume .main .header .fa {
  padding-right: 10px;
}
.resume .main .indented {
  padding-left: 40px;
}
.resume .main .category-row {
  padding-bottom: 2px;
}
.resume .main .category-row .category {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.resume .main .category-row .category-row-title {
  margin: 0.4rem 0;
}

.resume .main .category-row .category-title,
.resume .main .category-row .category-subtitle {
  display: inline;
  margin-top: 10px;
  margin-bottom: 5px;
}

.resume .main .category-row .category-bullets {
  margin-top: 5px;
}
.resume .main .category-row p,
.resume .main .category-row li {
  font-size: smaller;
}

sidebar-category:last-of-type .category {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

category:last-of-type category-item:last-of-type .category {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

a.page-subhead {
  color: initial;
  text-decoration: none;
}
